{{#if discord}}
  <div class="account">
    <!-- We prioritize actual Discord Info here, over Niddabot Account Info. -->
    {{#if discord._user.discordUser}} <p>{{discord._user.discordUser.username}}</p>
    {{else}} <p>{{discord.name}}</p>
    {{/if}}
    {{#if discord._avatar}} <img src="{{discord._avatar}}">
    {{else}} <img src="/img/niddabot.png">
    {{/if}}
    <div class="acc-dropdown">
      <a href="/user" title="Get Niddabot onto your server!">Get Niddabot!</a>
      <hr>
      <a href="/user">Account</a>
      <a href="/user">Servers</a>
      <a href="/signout">Sign out</a>
    </div>
  </div>
{{else}}
  <div class="account">
    <p>Account</p>
    <img src="/img/niddabot.png">
    <div class="acc-dropdown">
      <a href="/signin" title="Sign in with your Niddabot Account.">Sign in</a>
      <hr>
      <a href="/signup" title="Sign up and create a free Niddabot Account.">Sign up</a>
    </div>
  </div>
{{/if}}