{{#if discord}}
  <div class="account">
    <!-- We prioritize actual Discord Info here, over Niddabot Account Info. -->
    {{#if discord.discordUser}}
      <p>{{discord.discordUser.discordUser.username}}</p>
      {{#if discord.discordUser.avatar}}
        <img src="{{discord.discordUser.avatar}}">
      {{else}}
        <img src="/img/niddabot.png">
      {{/if}}
    {{else}}
      <p>{{discord.name}}</p>
      <img src="/img/niddabot.png">
    {{/if}}
    <div class="acc-dropdown">
      <a href="/user">Account</a>
      <a href="/signout">Sign out</a>
    </div>
  </div>
{{else}}
  <div class="account">
    <p>Account</p>
    <img src="/img/niddabot.png">
    <div class="acc-dropdown">
      <a href="/signin" title="Sign in with your Niddabot Account.">Sign in</a>
      <hr>
      <a href="/signup" title="Sign up and create a free Niddabot Account.">Sign up</a>
    </div>
  </div>
{{/if}}