{{#if flash }}
  {{#if flash.messages}}
    {{#each flash.messages as |error|}}
      <div class="flashmsg flashmsg-{{error.type}}">
        <div class="view-wrapper">
          <div class="text">{{error.message}}</div>
          <div class="box"><button class="flashmsg-{{error.type}}" title="Close Notification">X</button></div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="flashmsg flashmsg-{{flash.type}}">
      <div class="view-wrapper">
        <div class="text">{{flash.message}}</div>
        <div class="box"><button class="flashmsg-{{flash.type}}" title="Close Notification">X</button></div>
      </div>
    </div>
  {{/if}}
{{/if}}