{{#if flash }}
  {{#if flash.messages}}
    {{#each flash.messages as |error|}}
      <div class="flashmsg flashmsg-{{error.type}}">
        <div class="view-wrapper">
          <p>{{error.message}}</p>
          <button class="flashmsg-{{error.type}}" title="Close Notification">X</button>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="flashmsg flashmsg-{{flash.type}}">
      <div class="view-wrapper">
        <p>{{flash.message}}</p>
        <button class="flashmsg-{{flash.type}}" title="Close Notification">X</button>
      </div>
    </div>
  {{/if}}
{{/if}}