{{#section 'head'}}
  <title>Your Account | Niddabot: Discord | Nidawi.me</title>
  <link rel="stylesheet" type="text/css" href="/css/user.css">
{{/section}}
<div class="narrow-view">
  <div class="narrow-heading">
    <h1 class="title">Niddabot</h1>
    <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
  </div>
  <hr>
  <h1>Account Details</h1>
  <hr>
  <p>These are the details that are currently stored about your account. Please note that not all details can be changed on this page. If you desire to change something that is not included here, please do not hesitate to contact support.</p>
  <form method="POST" action="/user/update">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="details-wrapper">
      <fieldset>
        <div class="fielditem">
          <label>Account name (cannot be edited): </label>
          <input type="text" placeholder="Account Name" value="{{discord.name}}" title="This is your account name. It cannot be changed." readonly>
        </div>
        <div class="fielditem">
          <label>Nationality:</label>
          {{>countrylist}}
        </div>
      </fieldset>
      <fieldset>
        <label>E-mail address:</label>
        <input type="text" name="email" placeholder="E-mail Address" value="{{discord.email}}">
      </fieldset>
      <fieldset>
        <label>Password:</label>
        <input type="password" name="currentPassword" placeholder="Current password" value="">
        <input type="password" name="newPassword" placeholder="New password" value="">
      </fieldset>
    </div>
    <div class="terms-wrapper">
      <fieldset>
        <label>Other:</label>
        <ul>
          <li><label><input type="checkbox" name="emailsChecked" {{#if discord.receiveEmails}}checked{{/if}}>I accept receiving e-mails.</label></li>
        </ul>
      </fieldset>
    </div>
    <div class="submit-wrapper">
      <input type="submit" class="confirm" value="Save changes" disabled>
    </div>
  </form>
  <hr>
  <h1>Discord Details</h1>
  <hr>
  {{#if discord.discordUser}}
    <p>You have the following Discord User associated with your account: {{discord.discordUser.discordUser.username}}#{{discord.discordUser.discordUser.discriminator}}. While on a Discord server, Niddabot will treat you as a <i>{{discord.discordUser.niddabotRank.name}}</i>.</p>
    {{#if discord.discordUser.hasValidToken}}
      <p>You have granted Niddabot an Access Token and it {{discord._token}}
      You can manually refresh your Access Token by clicking <a href="/user/refresh">here</a>.
      If you no longer want Niddabot to have an Access Token to your account, you can click <a href="/user/revoke">here</a> to revoke it.
      </p>
    {{else}}
      <p>You have not granted Niddabot an Access Token.</p>
    {{/if}}
  {{else}}
    <p>You have not yet registered a Discord User. You can <i>ascend</i> at any time by going <a href="http://localhost:3000/user/ascend">here</a>!</p>
  {{/if}}
  <hr>
  <h1>Your Servers</h1>
  <hr>
  {{#if discord.ownedServers}}
    <p>This is a list of the Discord Guilds with which your account is associated. Association means that you are authorized to edit settings for that particular guild. Currently, this is readonly, but other options will be added at a later date.</p>
    <ul class="view-list">
      {{#each discord.ownedServers as |server|}}
        <li><img src="{{server.guild.icon}}">{{server.guild.name}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You have no Discord Guilds associated to your account. You can have Niddabot join your Guild at any time by going <a href="http://localhost:3000/user/ascend">here</a>!</p>
  {{/if}}
</div>